.enemy {
    border: 8px solid black;
    border-radius: 6px;
    padding: 10px 10px;
    color: black;
  /*  margin-top: 20px;*/
}

.enemy2 {
    border: 8px solid black;
    border-radius: 6px;
    padding: 10px 10px;
    color: black;
}
.large {
    
    padding: 10px 10px;
    width: 50rem;
    height: 20rem;
}

.versus {
    font-size: 40px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.charImage{
    max-width: 300px;
    max-height: 300px !important;
    border-radius: 4px;
}

.textMargin {
  
    text-align: left;
}

.redColor {
    color: red;
}