.eggs {
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
    width: 50%;

}

.attack {
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
    width: 50%;
}

p {
    color: black;
}

.eggs img {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
}